<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" *ngIf="securityObject && !securityObject.isAuthenticated">
      <p>Invalid username or password</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <label>{{securityObject | json}}</label>
  </div>
</div>

<form action="">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Log in</div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="">Username</label>
            <div class="input-group">
              <input type="text" name="username" [(ngModel)]="user.userName" class="form-control">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <div class="input-group">
              <input name="password" type="text" [(ngModel)]="user.password" class="form-control">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" (click)="login()">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</form>